@import url(/css/index.css);
@import url(/css/post.css);
/* not sure why necessary to have 3 imported css files as the rubric says? */

/* Global Styles */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  padding: 50px;
  font-family: "Roboto", sans-serif;
}

h1 {
  font-weight: 700;
  font-size: 48px;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 20px;
}

@media only screen and (max-width: 768px) {
  .logo, .nav-links {
    display: none;
  }
}

a {
  text-decoration: none;
}

.footer {
  margin-top: 50px;
  padding: 20px;
  background-color: #f1f1f1;
  text-align: center;
  align-items: center;
}

.footer > ul {
  margin-top: 10px;
  list-style: none;
  display: flex;
  gap: 10px;
  justify-content: center;
}

.buttons {
  padding-top: 25px;
}

button {
  border-radius: 15px;
  padding: 5px;
  background-color: white;
}

.btn-1 {
  border-color: blue;
  color: blue;
}

.btn-2 {
  border-color: black;
  color: black;
}
